* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* classi base */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

/* inizio header */
header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: blue;
    height: 50px;
}

.container-header {

    height: 100%;
    width: 1400px;
    background-color: brown;

}

.header-box {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.col-30 {
    height: 100%;
    width: calc(100%/4);
    background-color: aqua;
}

.header-list {
    list-style: none;
    margin: 0px 15px;
}

li {
    list-style: none;
    margin: 3px;
}

.col-40 {
    position: relative;
    height: 100%;
    width: calc(100%/4*2);


}

.logo {
    height: 30px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/boolean-logo.png);

}

/* fine header */
/* inizio main */
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0px;
    height: 1200px;
    width: 1200px;
    background-color: bisque;
}

.col-33 {
    position: relative;
    width: calc(100%/3);
    height: calc(100%/2);

}


.image1 {
    display: flex;
    background-image: url(../img/1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.image2 {
    background-image: url(../img/2.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.image3 {
    background-image: url(../img/2.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.image4 {
    background-image: url(../img/4.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.image5 {
    background-image: url(../img/5.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.image6 {
    background-image: url(../img/6.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.sales1 {
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px 10px;
    bottom: 60px;

}

.sales {
    position: absolute;
    background-color: green;
    color: white;
    padding: 5px 10px;
    bottom: 60px;
    left: 60px;
}

.sales2 {
    position: absolute;
    background-color: green;
    color: white;
    padding: 5px 10px;
    bottom: 60px;

}